<li class="list-group-item">
    <a href="/dashboard/">
        <span class="fa fa-dashboard" data-toggle="tooltip" title="Hello"></span>
        <span class="list-group-item-value">Dashboard</span>
    </a>
</li>