<li class="list-group-item">
    <a href="/services/">
        <span class="pficon pficon-service" data-toggle="tooltip" title="My Services"></span>
        <span class="list-group-item-value">My Services</span>
    </a>
</li>