<li class="list-group-item">
    <a href="/orders/">
        <span class="fa fa-file-o" data-toggle="tooltip" title="My Orders"></span>
        <span class="list-group-item-value">My Orders</span>
    </a>
</li>