<li class="list-group-item">
    <a href="/catalog/">
        <span class="fa fa-folder-open-o" data-toggle="tooltip" title="Service Catalog"></span>
        <span class="list-group-item-value">Service Catalog</span>
    </a>
</li>